<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logopineustilu"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".RescheaduleMainActivity"
            android:exported="false" />
      <activity
            android:name=".DetailRescheduleCharge"
            android:exported="false" />
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false" />
        <activity
            android:name=".RescheduleCancellationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".DetailBookingDeckActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainmentActivity"
            android:exported="true" />
        <activity
            android:name=".NotifActivity"
            android:exported="false" />
        <activity
            android:name=".MakingInstanceActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".BookingPageList3Activity"
            android:exported="false" />
        <activity
            android:name=".BookingPageList2Activity"
            android:exported="false" />
        <activity
            android:name=".BookingDateTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".BookingDeckTutorialActivity"
            android:exported="false" />
        <activity
            android:name=".BookingPageListActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeNameActivity"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerSupportActivity"
            android:exported="false" />
        <activity
            android:name=".FAQActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeContactNumberActivity"
            android:exported="false" />
        <activity
            android:name=".EditNameActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".EntertainmentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CancelationActivity"
            android:exported="false" />
        <activity
            android:name=".HomeMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>